body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-success {
  background-color: #3657bf;
  border-color: #3657bf;
}

.btn-success:hover, .btn-success:active {
  background-color: #5c84ea;
  border-color: #5c84ea;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  background-color: #5c84ea;
  border-color: #5c84ea;
}

.error {
  color: red;
}

.post-col {
  cursor: pointer;
}

@import url("./style/header.css");